In [14]:
import pandas as pd
import numpy as np

In [38]:
data=pd.read_csv('Deposits.csv')

In [49]:
data.head(5)

,No,Start Date,Due Date,Name1,Name2,Nominee,Bank Name,Bank Branch,Amount Dep,Amount Due
0,1.0,11-02-2021,02/11/2024,Rohiniben Parekh,Manish Parekh,Reena Parekh,BOB,Navyug,"₹350,000.0","₹413,546.0"
1,2.0,12-04-2016,04/12/2021,Reena Parekh,Manish Parekh,NaN,BOB,Parsi Sheri,"₹20,000.0","₹28,101.0"
2,3.0,18-10-2020,11/12/2021,Rohiniben Parekh,Kalpesh Parekh,NaN,BOB,Chhipwad,"₹150,000.0","₹159,430.0"
3,4.0,29-09-2020,29/09/21,Rohiniben Parekh,Manish Parekh,NaN,BOB,Chhipwad,"₹150,000.0","₹158,578.0"
4,5.0,06-12-2016,12/06/2021,Reena Parekh,Manish Parekh,NaN,BOB,Parsi Sheri,"₹40,000.0","₹54,647.0"

In [74]:
dataNew =  data[(data['Due Date']>='01/05/2021') & (data['Due Date']<='31/05/2021')]

,No,Start Date,Due Date,Name1,Name2,Nominee,Bank Name,Bank Branch,Amount Dep,Amount Due
0,1.0,11-02-2021,02/11/2024,Rohiniben Parekh,Manish Parekh,Reena Parekh,BOB,Navyug,"₹350,000.0","₹413,546.0"
1,2.0,12-04-2016,04/12/2021,Reena Parekh,Manish Parekh,NaN,BOB,Parsi Sheri,"₹20,000.0","₹28,101.0"
2,3.0,18-10-2020,11/12/2021,Rohiniben Parekh,Kalpesh Parekh,NaN,BOB,Chhipwad,"₹150,000.0","₹159,430.0"
3,4.0,29-09-2020,29/09/21,Rohiniben Parekh,Manish Parekh,NaN,BOB,Chhipwad,"₹150,000.0","₹158,578.0"
4,5.0,06-12-2016,12/06/2021,Reena Parekh,Manish Parekh,NaN,BOB,Parsi Sheri,"₹40,000.0","₹54,647.0"
5,6.0,12-04-2016,04/12/2021,Manish Parekh,Reena Parekh,NaN,BOB,Parsi Sheri,"₹60,000.0","₹81,994.0"
6,7.0,12-05-2014,11/07/2022,Rohiniben Parekh,Nalinchandra Parekh,NaN,SPB,Parsi Sheri,"₹75,308.0","₹130,697.0"
7,8.0,26-06-2016,22/06/22,Nalinchandra Parekh,Rohiniben Parekh,NaN,SPB,Parsi Sheri,"₹95,233.0","₹132,676.0"
8,9.0,06-04-2018,04/08/2021,Nalinchandra Parekh,Rohiniben Parekh,NaN,SPB,Parsi Sheri,"₹62,410.0","₹79,146.0"
9,10.0,20-03-2018,18/03/22,Nalinchandra Parekh,Rohiniben Parekh,NaN,SPB,Parsi Sheri,"₹60,996.0","₹82,450.0"
10,11.0,20-04-2018,05/05/2021,Manish Parekh,Reena Parekh,NaN,SPB,Parsi Sheri,"₹31,179.0","₹40,872.0"
11,12.0,20-04-2018,05/05/2021,Manish Parekh,Reena Parekh,NaN,SPB,Parsi Sheri,"₹37,414.0","₹49,045.0"
12,13.0,02-10-2020,04/02/2022,Rohiniben Parekh,Reena Parekh,NaN,CAN,Kotsafil MRD,"₹46,397.0","₹50,545.0"
13,14.0,06-09-2020,03/06/2022,Reena Parekh,Rohiniben Parekh,NaN,CAN,Kotsafil MRD,"₹44,787.0","₹48,503.0"
14,15.0,10-11-2014,19/09/22,Manish Parekh,Reena Parekh,NaN,CAN,Kotsafil MRD,"₹25,000.0","₹43,769.0"
15,16.0,10-11-2014,08/10/2023,Reena Parekh,Manish Parekh,NaN,CAN,Kotsafil MRD,"₹25,000.0","₹45,368.0"
16,17.0,10-12-2013,12/10/2022,Reena Parekh,Manish Parekh,NaN,CAN,Kotsafil MRD,"₹25,000.0","₹48,865.0"
17,18.0,11-11-2014,19/09/22,Manish Parekh,Reena Parekh,NaN,CAN,Kotsafil MRD,"₹30,000.0","₹52,514.0"